<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
    <meta name="keywords" content="afiş">
    <meta name="description" content="Af-İş">

    <link rel="icon" href="http://www.af-is.com.tr/template/frontend/image/favicon.ico" type="image/x-icon">
    <link href="http://www.af-is.com.tr/template/frontend/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/index.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/style.css">

        <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/iletisim.css">
    </head>
<body>
     <header>
    <div class="container-fluid">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-phone fa-6" aria-hidden="true"></i>
                        <div class="tel">&nbsp;(0272) 214 53 18</div>
                    </div><!--colsm6-->
                    <div class="col-sm-6">
                        <div class="social">
                            <a href="https://www.facebook.com/profile.php?id=100010701846021" target="_blank"><i class="fa fa-facebook fa-5" aria-hidden="true"></i></a>

                            <a href=""><i class="fa fa-twitter fa-5" aria-hidden="true"></i></a>
                            <a href="" target="_blank"><i class="fa fa-google-plus fa-5" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/turhan-g%C3%B6kpunar-92159751/" target="_blank"><i class="fa fa-linkedin fa-5" aria-hidden="true"></i></a>
                            <a href="" target="_blank"><i class="fa fa-instagram fa-5" aria-hidden="true"></i></a>
                        </div> 
                    </div><!--colsm6-->
                </div><!--row-->
            </div><!--container-->
        </div><!--header-top-->
        
    </div> <!--container-fluid-->
</header>
<nav id="ddmenu">
    
    <ul>
        <li class="full-width">
          
              <li class="no-sub"><a class="top-heading" href="/posts/index">Dijital Girişimcilik</a></li>
        </li>
        
        <li>
            <a class="top-heading" href="/posts/danismanlikhizmet">Danışmanlık Hizmetleri</a>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                    
                        <li><a href="/posts/kosgeb">Kosgeb</a></li>

                        <li><a href="/posts/tkdkdestek">TKDK DESTEKLERİ</a></li>

                        <li><a href="/posts/kkydpdestek">KKYDP DESTEKLERİ</a></li>

                        <li><a href="/posts/kalkinmaajansdestek">KALKINMA AJANSI DESTEKLERİ</a></li>
                            <li><a href="/posts/tubitakdestek">TÜBİTAK DESTEKLERİ</a></li>
                                <li><a href="/posts/avrupabirlikdestek">AVRUPA BİRLİĞİ DESTEKLERİ</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <li class="no-sub">
            <a class="top-heading"href="/posts/markapatent">Marka Patent</a>
        </li>
            <li>
            <a class="top-heading"href="/posts/digitalpara">Dijital Para</a>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                    
                        <li><a href="/posts/gramaltin">Gram Altın</a></li>
      <li><a href="/posts/dolar">Dolar</a></li>

      <li><a href="/posts/euro">Euro</a></li>

      <li><a href="/posts/bist">Bist-100</a></li>

      <li><a href="/posts/bitcoin">Bitcoin</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="no-sub">
            <a class="top-heading"href="/posts/iletisim">İletişim</a>
        </li>
       
    </ul>
</nav>
<div class="content">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 ">
                   
                               <img src="http://www.melajans.com/upload/news/880x340/kosgeb1.png" width="300" class="destek-img">
                    

                    
  <p><font size="4" face="Times">Yıl boyunca yararlanılabilen KOSGEB desteklerine başvurmak için temel kriter KOSGEB veritabanına kayıtlı bir KOBİ olmaktır. KOSGEB destek programları aşağıda incelenmiştir .<br>


    <strong>   Girişimcilik Destek Programı
</strong><br>
        Programın Amacı ve Gerekçesi
    <br>
    <p>
      Bu programın amacı, ekonomik kalkınma ve istihdam sorunlarının çözümünün temel faktörü olan girişimciliğin desteklenmesi, yaygınlaştırılması ve başarılı işletmelerin kurulmasını sağlamaktır.  
    </p>
    
<strong>        Destek Unsurları</strong>
    
    <br>
       Yeni Girişimci Desteği 
    <br>
    <p>
        Yeni Girişimci Desteğine; bu Program kapsamında Uygulamalı Girişimcilik Eğitimini tamamlayan girişimcilerin kurdukları işletmeler ile İŞGEM’de yer alan İşletmeler (sahip veya ortaklarının Uygulamalı Girişimcilik Eğitimine katılım şartı aranmaksızın) başvurabilir.
    </p>
    <p>
        
 (1) İşletme kuruluş giderleri için geri ödemesiz olarak 2.000 (iki bin) TL destek sağlanır. <br>

(2) Kuruluş Dönemi Makine, Teçhizat, Ofis Donanım ve Yazılım Desteği kapsamında, işletmenin kuruluş tarihinden itibaren 24 (yirmi dört) ay içinde satın alınan/alınacak makine, teçhizat, yazılım ve ofis donanımları için geri ödemesiz olarak üst limiti 18.000 (onsekiz bin) TL destek sağlanır.<br>

(3) İşletme Giderleri Desteği kapsamında, işletmenin kuruluş tarihinden itibaren 24 (yirmi dört) ay içinde gerçekleşen işyeri kirası ve personel net ücretlerine yönelik olarak, aylık azami 5000 TL ve toplamda geri ödemesiz olarak 30.000 (otuz bin) TL destek sağlanır.<br>

(4) Kuruluş Dönemi Makine, Teçhizat, Yazılım ve Ofis Donanım Desteği ile İşletme Giderleri Desteği üst limitleri; bu destek unsurları için belirlenen üst limitlerin toplamını aşmamak üzere ihtiyaç duyulması halinde Kurul Kararı ile  % 50 (elli)’ye kadar arttırılabilir. Bu durumda Kuruluş Dönemi Makine, Teçhizat, Yazılım ve Ofis Donanım Desteğinin üst limiti 27.000 (yirmiyedibin) TL, İşletme Giderleri Desteği üst limiti 45.000 (kırkbeş bin) TL ve her iki desteğin üst limitleri toplamı ise 48.000 (kırksekiz bin) TL’yi geçemez.  <br>

(5) Sabit Yatırım Desteği kapsamında, işletme kuruluş tarihinden itibaren 24 (yirmi dört) ay içinde satın alınan/alınacak makine, teçhizat ve yazılım için teminat karşılığı geri ödemeli olarak 100.000  (yüz bin) TL destek sağlanır.<br>

<strong>Uygulamalı Girişimcilik Eğitimi</strong><br>

Uygulamalı Girişimcilik Eğitimleri, ülkede girişimcilik kültürünün yaygınlaştırılması ve başarılı işletmelerin kurulması genel hedefine uygun olarak; girişimcilerin iş kurma ve yürütme konularında bilgi ve beceri sahibi olmaları, bu süreçte kendi rol ve sorumluluklarının farkına varmaları ve kendi iş fikirlerine yönelik iş planı hazırlayabilecek bilgi ve deneyim kazanmaları amacıyla KOSGEB ile paydaş kurum/kuruluşların işbirliği ile düzenlenir.<br>

Yeni Girişimci Desteğine başvurunun ön şartlarından biri bu Eğitimi tamamlamış olmaktır.<br>

Uygulamalı Girişimcilik Eğitimleri herkesin katılımına açık ve ücretsiz olarak sağlanmaktadır.<br>

Güncel Uygulamalı Girişimcilik Eğitim Duyuruları için lütfen tıklayınız.<br>

<strong>İş Planı Ödülü</strong><br>

Yükseköğretim kurumlarınca örgün eğitim sistemi içinde girişimciliğin ayrı bir ders olarak verilmesi halinde, bu dersi alan öğrenciler arasında KOSGEB ve ilgili üniversite işbirliği ile düzenlenen ödüllü yarışmalar sonucunda, hazırladıkları iş planları ilk üç dereceye girmiş olan öğrencilerden işletmesini kurmuş olmaları kaydı ile en başarılı iş planı sahibine 25.000 (yirmi beşbin) TL, ikinciye 20.000 (yirmi bin) TL, üçüncüye 15.000 (on beşbin) TL ödül verilir.<br>

Ayrıca; KOSGEB tarafından uygun bulunan, Yurtiçi veya yurtdışında faaliyet gösteren kurum/kuruluşlar tarafından düzenlenecek ödüllü/ödülsüz yarışmalar sonucunda sundukları iş fikirleri/iş modelleri/iş planları, ilk üç dereceye girmiş olan yarışmacılara, Türkiye’de kuracakları işletmeleri ve ya mevcut işletmeleri için, 100.000 (yüzbin) TL’ye kadar ödül verilebilir.<br>


<br>
<strong>İş Geliştirme Merkezi (İŞGEM) Desteği</strong>
Belediyeler, Yüksek Öğretim Kurumları, Özel İdareler, Meslek Kuruluşları ve İnkübatörler tarafından münferiden veya müştereken kurulacak bir İşletici Kuruluş vasıtası ile KOBİ’lere işletme geliştirme koçluğu, destek ağlarına ulaşım, finans kaynaklarına erişim imkânı, uygun koşullarda iş yeri mekânı, ortak ofis ekipmanı ve ofis hizmetleri sunmak amacıyla kurulacak bir İŞGEM’in, kuruluş ve işletme giderlerine destek sağlanmaktadır
    </p>
    <br>
     </font> </p>

                </div>

 <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Magic Stores s.r.o.">

</head>
       
        
<div class="col-md-4 col-lg-4" >
    <div class="list-group">
    <a class="list-group-item" href="/posts/girisimcilik" style="background-color: #56c8c5">Girişimcilik Destekleri</a>
    <a class="list-group-item" href="/posts/arge">AR-GE, Teknolojik Üretim ve Yerlileştirme Destekleri</a>
    <a class="list-group-item"href="/posts/isletme" style="background-color: #56c8c5">İşletme Geliştirme, Büyüme ve Uluslararasılaşma Destekleri</a>
    <a class="list-group-item" href="/posts/kobi">KOBİ Finansman Destekleri</a>
        <a class="list-group-item" href="/posts/laboratuvar" style="background-color: #56c8c5">Laboratuvar Hizmetleri</a>
    <a class="list-group-item" href="/posts/kosgeb">KOSGEB DESTEKLERİ</a>
  </div>
</div>          
    </div> 

  </div>
</div>
</div>

        </div>
    </div>
</div>













<footer class="footer-section bg-with-black">
    <head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
</head>
  <style >
    footer.footer-section {
    background: rgba(0, 0, 0, 0) url("https://cdn.pixabay.com/photo/2012/02/22/19/28/africa-15428_960_720.jpg") no-repeat scroll left top / cover;
    padding: 60px 0 50px;
    background-size: cover;
}
.bg-with-black {
    position: relative;
}
.footer-top-section {
    margin: 0 0 47px;
}
.single-fta > img {
    margin: 0 0 7px;
    width: 170px;
    height: 170px;
}
.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}
.single-fta ul.fta-list li, .single-fta ul.fta-list li a {
    color: #e5e5e5;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 36px;
}
.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}
.fta-title {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0 0 20px;
}

.fba-links {
    text-align: right;
}

.fba-links ul li a {
    color: #e5e5e5;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
}
.fba-links ul {
    list-style: outside none none;
    padding: 0;
}
.fba-links ul li {
    display: inline-block;
    margin-left: 28px;
}
.fba-copyright p {
    color: #aaaaaa;
    line-height: 30px;
}
  </style>
        <div class="footer-top-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <img src="../assets/logo.jpg" alt="">
                            <ul class="fta-list">
                                <li><a href="/posts/index"><span class="glyphicon glyphicon-chevron-right"></span> Dijital Girişimcilik</a></li>
                                <li><a href="/posts/danismanlikhizmet"><span class="glyphicon glyphicon-chevron-right"></span> Danışmanlık Hizmetleri</a></li>

                                <li><a href="/posts/markapatent"><span class="glyphicon glyphicon-chevron-right"></span>Marka Patent</a></li>
                                  <li><a href="/posts/digitalpara"><span class="glyphicon glyphicon-chevron-right"></span>Dijital Para</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <h3 class="fta-title">Danışmanlık Hizmetleri</h3>
                            <ul class="fta-list">
                                <li><a href="/posts/kosgeb">Kosgeb</a></li>

                                <li><a href="/posts/tkdkdestek">TKDK DESTEKLERİ</a></li>

                                <li><a href="/posts/kkydpdestek">KKYDP DESTEKLERİ</a></li>

                                <li><a href="/posts/kalkinmaajansdestek">KALKINMA AJANSI DESTEKLERİ</a></li>
                                <li><a href="/posts/tubitakdestek">TÜBİTAK DESTEKLERİ</a></li>
                                <li><a href="/posts/avrupabirlikdestek">AVRUPA BİRLİĞİ DESTEKLERİ</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <h3 class="fta-title">Dijital Para</h3>
                            <ul class="fta-list">
                                <li><a href="/posts/gramaltin">Gram Altın</a></li>
                                  <li><a href="/posts/dolar">Dolar</a></li>

                                    <li><a href="/posts/euro">Euro</a></li>

                                <li><a href="/posts/bist">Bist-100</a></li>
                                 <li><a href="/posts/bitcoin">Bitcoin</a></li>


                              
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <h3 class="fta-title">İletişim</h3>
                            <ul class="fta-list">
                                <li>Address: Cumhuriyet Mah. Kadınana Cad. No:118/2/ AFYONKARAHİSAR</li>
                                <li>Phone: (0272) 214 53 18  GSM:0545 230 15 34</li>
                                <li>Email: turhan@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="footer-bottom">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="fba-copyright">
                                        <p>AYŞEGÜL SELEK /YAZILIM MÜHENDİSİ tarafından design edildi.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="fba-links">
                                        <ul>
                                            <li><a  href="/posts/index">Dijital Girişimcilik</a></li>

                                            <li><a href="/posts/danismanlikhizmet">Danışmanlık Hizmetleri</a></li>

                                            <li><a href="/posts/markapatent">Marka Patent</a></li>

                                            <li><a href="/posts/digitalpara">Dijital Para</a></li>

                                            <li><a href="/posts/iletisim">İletişim</a></li>
                                        </ul>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>