<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
    <meta name="keywords" content="afiş">
    <meta name="description" content="Af-İş">

    <link rel="icon" href="http://www.af-is.com.tr/template/frontend/image/favicon.ico" type="image/x-icon">
    <link href="http://www.af-is.com.tr/template/frontend/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/index.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/style.css">

        <link rel="stylesheet" type="text/css" href="http://www.af-is.com.tr/template/frontend/css/iletisim.css">
    </head>
<body>
     <header>
    <div class="container-fluid">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-phone fa-6" aria-hidden="true"></i>
                        <div class="tel">&nbsp;(0272) 214 53 18</div>
                    </div><!--colsm6-->
                    <div class="col-sm-6">
                        <div class="social">
                            <a href="https://www.facebook.com/profile.php?id=100010701846021" target="_blank"><i class="fa fa-facebook fa-5" aria-hidden="true"></i></a>

                            <a href=""><i class="fa fa-twitter fa-5" aria-hidden="true"></i></a>
                            <a href="" target="_blank"><i class="fa fa-google-plus fa-5" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/turhan-g%C3%B6kpunar-92159751/" target="_blank"><i class="fa fa-linkedin fa-5" aria-hidden="true"></i></a>
                            <a href="" target="_blank"><i class="fa fa-instagram fa-5" aria-hidden="true"></i></a>
                        </div> 
                    </div><!--colsm6-->
                </div><!--row-->
            </div><!--container-->
        </div><!--header-top-->
        
    </div> <!--container-fluid-->
</header>
<nav id="ddmenu">
    
    <ul>
        <li class="full-width">
          
              <li class="no-sub"><a class="top-heading" href="/posts/index">Dijital Girişimcilik</a></li>
        </li>
        
        <li>
            <a class="top-heading" href="/posts/danismanlikhizmet">Danışmanlık Hizmetleri</a>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                    
                        <li><a href="/posts/kosgeb">Kosgeb</a></li>

                        <li><a href="/posts/tkdkdestek">TKDK DESTEKLERİ</a></li>

                        <li><a href="/posts/kkydpdestek">KKYDP DESTEKLERİ</a></li>

                        <li><a href="/posts/kalkinmaajansdestek">KALKINMA AJANSI DESTEKLERİ</a></li>
                            <li><a href="/posts/tubitakdestek">TÜBİTAK DESTEKLERİ</a></li>
                                <li><a href="/posts/avrupabirlikdestek">AVRUPA BİRLİĞİ DESTEKLERİ</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <li class="no-sub">
            <a class="top-heading"href="/posts/markapatent">Marka Patent</a>
        </li>
            <li>
            <a class="top-heading"href="/posts/digitalpara">Dijital Para</a>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                    
                        <li><a href="/posts/gramaltin">Gram Altın</a></li>
      <li><a href="/posts/dolar">Dolar</a></li>

      <li><a href="/posts/euro">Euro</a></li>

      <li><a href="/posts/bist">Bist-100</a></li>

      <li><a href="/posts/bitcoin">Bitcoin</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="no-sub">
            <a class="top-heading"href="/posts/iletisim">İletişim</a>
        </li>
       
    </ul>
</nav>
<div class="content">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 ">
                   
                               <img src="http://www.melajans.com/upload/news/880x340/kosgeb1.png" width="300" class="destek-img">
                    

                    
  <p><font size="4" face="Times">Yıl boyunca yararlanılabilen KOSGEB desteklerine başvurmak için temel kriter KOSGEB veritabanına kayıtlı bir KOBİ olmaktır. KOSGEB destek programları aşağıda incelenmiştir .<br>


    <strong>
       İşletme Geliştirme Destek Programı
    </strong>
    <p> <br>Programın Amacı ve Gerekçesi  <br>
    	Küçük ve orta ölçekli işletmelerin rekabet güçlerinin, kurumsallaşma-markalaşma düzeylerinin ve ekonomideki paylarının arttırılması, kapasitelerinin geliştirilmesi ve öncelikli ihtiyaçlarının karşılanmasıdır.
    </p>
    <p>
     	
Yurt İçi Fuar Desteği :  DESTEK ÜST LİMİTİ (TL)=>50.000 <br>
Yurt Dışı İş Gezisi Desteği :   DESTEK ÜST LİMİTİ (TL)=>20.000 <br>
      Nitelikli Eleman İstihdam Desteği : DESTEK ÜST LİMİTİ (TL)=>50.000 <br>
      	
Eğitim Desteği :  DESTEK ÜST LİMİTİ (TL)=>20.000<br>
        Enerji Verimliliği Desteği:  DESTEK ÜST LİMİTİ (TL)=>35.000<br>
          Tasarım Desteği:   DESTEK ÜST LİMİTİ (TL)=>25.000 <br>
            	
Sınai Mülkiyet Hakları Desteği :   DESTEK ÜST LİMİTİ (TL)=>30.000 <br>
             	
Belgelendirme Desteği :  DESTEK ÜST LİMİTİ (TL)=>30.000<br>
           Test ve Analiz Desteği:   DESTEK ÜST LİMİTİ (TL)=> 30.000<br>
    </p>
    <strong>
       KOBİGEL - KOBİ Gelişim Destek Programı
    </strong>
  
    <p> <br>Programın Amacı ve Gerekçesi<br>
        Ülkenin ulusal ve uluslararası hedefleri doğrultusunda, küçük ve orta ölçekli işletmelerin, ekonomideki paylarının ve etkinliklerinin arttırılması,
  KOBİ’lerin rekabet güçlerinin ve sağladıkları katma değerin yükseltilmesi, amacıyla hazırlayacakları projelerin desteklenmesidir. <br>

 <br>
    </p>
    <p>
       
Proje Süresi =>	
En az 6
En Fazla 36 Ay
(+6) Ay
<br>
Destek Üst Limiti=>Geri Ödemesiz Destek - En fazla 300.000 TL
Geri Ödemeli Destek - En fazla 700.000 TL<br>

Proje Destek Oranı=>1. ve 2. Bölgelerde en fazla %60
3., 4., 5. ve 6. Bölgelerde  en fazla %80<br>
<p><br>
	Desteklenecek Proje Giderleri<br>
	Program kapsamında desteklenecek proje giderleri Proje Teklif Çağrısında belirlenir ve belirlenen esaslar dahilinde desteklenecek proje giderlerine Kurul karar verir. Ancak; gayrimenkul alım, bina inşaat, tefrişat, taşıt aracı alım ve kiralama, proje ile ilişkilendirilmemiş personel giderleri ve diğer maliyetler ile vergi, resim ve harçlar, sosyal güvenlik primleri desteklenmez.<br>
 
Personel giderleri, net ücret (asgari geçim indirimi, ikramiye, prim vb. ek ödemeler hariç) üzerinden desteklenir.
 <br>
Proje kapsamında desteklenmesi uygun görülen gider grupları toplamı ile destek türleri, Proje Teklif Çağrısında belirlenen üst limit, oran ve varsa gider kısıtlarını geçmeyecek şekilde Kurul tarafından belirlenir.
 <br>
1, 2, 3 ,4, 5 ve 6. Bölgeler hakkında bilgi almak için tıklayınız. (19/06/2012 tarihli ve 28328 sayılı Resmi Gazete'de yayınlanan Yatırımlarda Devlet Yardımları Hakkındaki Bakanlar Kurulu Kararı)
</p>




<strong>Genel Destek Programı</strong>

<p>İşletme Geliştirme Destek Programına, "Destekler/İşletme Geliştirme, Büyüme ve Uluslararasılaşma Destekleri/ İşletme Geliştirme Destek Programı" menüsünden erişebilirsiniz. <br>

İşletme Geliştirme Destek Programının yürürlüğe girmesi nedeniyle Genel Destek Programı için yeni başvuru alınmayacaktır.<br> 

 </p>

<strong> İş Birliği Güç Birliği Destek Programı  </strong>
<p><br> Programın Amacı<br>
	KOBİ’lerin işbirliği-güçbirliği anlayışıyla bir araya gelerek; ortak tedarik, ortak tasarım, ortak pazarlama, ortak laboratuar, ortak imalat, ortak hizmet sunumu ve benzeri konular ile Orta-Yüksek ve Yüksek Teknoloji alanlarında hazırlayacakları ortak imalata yönelik işbirliği-güçbirliği projelerinin desteklenmesi amaçlanmaktadır.<br>
	
		İşbirliği - Güçbirliği Ortaklık Modelleri
	<br>
	 Proje ortağı işletmeler mevcudiyetlerini koruyarak kurulacak işletici kuruluşa ortak olmaları,<br>
  Proje ortağı işletmelerin bir kısmı ya da tamamı kendilerini feshederek kurulacak işletici kuruluşa dâhil olmaları,<br>
  Proje ortağı işletmelerin bir kısmı kendilerini feshederek ortaklardan birinin bünyesinde birleşmesi,<br>

gerekmektedir. Ayrıca, proje başvurusunda, işbirliği-güçbirliği amacı ile en az 5 (beş) işletmenin bir araya gelmesi şartı aranır. Projenin, Orta-Yüksek ve Yüksek Teknoloji alanlarında gerçekleştirilecek olması durumunda ise en az 3 (üç) işletmenin bir araya gelmesi yeterlidir.<br><br>
Desteklenecek Proje Konuları<br>
  Hammadde, ara mamul, mamul, lojistik ve diğer hizmetleri daha hızlı ve ucuz temin edebilmeleri amacıyla ortak tedarik,<br>

  Üretim ve hizmet kapasitelerini, çeşitlerini, verimliliğini ve kalitelerini artırmak amacıyla ortak imalat ve hizmet sunumu,<br>
  Ürün ve hizmet kalitelerini yükseltmek, ulusal ve uluslararası pazar paylarını artırmak, marka imajı oluşturmak, uluslararası pazarın ihtiyaçlarına cevap vermeleri amacıyla ortak pazarlama,<br>
  Ürün ve hizmet standartlarını geliştirmeleri amacıyla ortak laboratuar,<br>
  Müşteri istekleri ve pazarın talebi doğrultusunda ürün ve hizmet geliştirmeleri, ürettikleri ürün ve hizmetleri yeni pazarlara sunmaları amacıyla ortak tasarım,<br>
ve benzeri alanlarda ortak sorunlara ortak çözümler getiren, maliyet düşürücü ve rekabet avantajı sağlayıcı nitelikteki projeler ile Orta-Yüksek ve Yüksek Teknoloji Alanlarında ortak imalata yönelik gerçekleştirilecek İşbirliği-Güçbirliği Projeleri işletici kuruluş marifetiyle desteklenir.
	</p>

<strong>
	Uluslararası Kuluçka Merkezi ve Hızlandırıcı Destek Programı
</strong>
<p>  Programın Amacı<br>
	Bu programın amacı; Ar-Ge ve inovasyon faaliyetleri ülkemizde gerçekleştirilen teknolojik ürünlerin uluslararası pazarlarda yer alması, ihracatın arttırılması, yerli teknoloji yoğun başlangıç işletmelerinin gelişmiş girişimcilik ekosistemleri içerisinde yer alması için, uluslararası kuluçka merkezi kurulmasını ve işletmelerin hızlandırma programlarına katılmasını desteklemektir.
<br>
Bu program,<br>
a) Uluslararası Kuluçka Merkezi Kurma Programı<br>
b) Uluslararası Hızlandırıcı Programı<br>
olmak üzere iki alt programdan oluşur.
<br>
 Desteklenecek Proje Giderleri<br>
A) Uluslararası Kuluçka Merkezi Kurma Programı<br>

1. KURULUŞ VE DONANIM DESTEĞİ<br>
  İşletme Kuruluş Giderleri,<br> 
  Bina Tadilatı, <br>
  Altyapı, <br>
  Ofis Donanımı <br>
  Yazılım Giderleri<br>

Yeminli Mali Müşavirlik<br>

Ulaşım Giderleri<br>

gibi konularda alacağı hizmetler ve düzenleyeceği organizasyonlar için destek verilir<br>
Destek Üst Limiti: 100.000 $<br>
Destek Oranı: % 80<br>

2. OPERASYONEL GİDERLER DESTEĞİ<br>
  Kuluçka Merkezi Kirası, <br>
  İşletim Giderleri, <br>
  Tanıtım Faaliyetleri,<br> 
  Eğitim, Danışmanlık, Mentörlük, İş Yönetimi, Hukuk, Fikri Ve Sınai Mülkiyet Hakları, <br>
   Hizmetleri Gibi Konularda Alacağı Hizmetler Ve Düzenleyeceği Organizasyonlar<br>

Destek Üst Limiti: 3.750.000 $<br>
Destek Oranı: <br>
  1’inci ve 2’nci yıl için % 80<br>
  3 ile 5’inci yıllar için % 60<br>

B) Uluslararası Hızlandırıcı Programı<br>
1. Hızlandırıcı Ofis Kirası Giderleri, <br>
2. Eğitim Giderleri, <br>
3. Danışmanlık Giderleri, <br>
4. Mentörlük Giderleri, <br>
5. İş Yönetimi Giderleri, <br>
6. Hukuk Giderleri, <br>
7. Fikri Ve Sınai Mülkiyet Hakları Giderleri,<br> 
8. Ulaşım Giderleri, <br>
9. Konaklama Giderleri, <br>
10. Yeminli Mali Müşavirlik Hizmetleri Giderleri,<br>
11. Organizasyonla İlgili Genel Giderler<br>

Program süresi: 3 yıl<br>
Destek Üst Limiti: Katılım sağlanan bir hızlandırıcı programı için 15.000 $ destek verilmekte olup, destek üst limiti 60.000 $’dır.<br>
Destek oranı: % 80
</p>
<strong>
	KOBİ Proje Destek Programı
</strong>
<p>
 KOBİ`lere ilişkin ulusal politikalarda ve KOBİ`lerin ihtiyaçlarındaki değişim göz önünde bulundurularak KOBİGEL-KOBİ Gelişim Destek Programı yürürlüğe alınmıştır. Bu program kapsamında KOBİ'ler, KOSGEB tarafından belirlenen önceliklere göre hazırladıkları projeleri Proje Teklif Çağrısı dönemlerinde sunabilmektedir. KOBİGEL-KOBİ Gelişim Destek Programı Proje Teklif Çağrılarına, "Destekler/KOBİGEL Destek Programı" menüsünden erişilebilirsiniz. <br>

KOBİGEL-KOBİ Gelişim Destek Programının yürürlüğe girmesi nedeniyle KOBİ Proje Destek Programı kapsamında yeni başvuru alınmayacaktır. 	
</p>
<strong>
	TEKNOPAZAR - Teknolojik Ürün Tanıtım ve Pazarlama Destek Programı
</strong>
<p>
	Programın Amacı<br>
	Programın amacı; Teknoloji Tabanlı KOBİ’lerin uluslararası pazarlarda rekabet güçlerinin artırılması, Ar-Ge ve İnovasyon projelerinin sonuçlarının ticarileştirilmesine yönelik destek mekanizmalarına duyulan ihtiyacın giderilmesi ve teknolojik ürünlere yönelik tanıtım ve pazarlama faaliyetlerinin desteklenmesidir.<br>

Programın Süresi: 12 (on iki) Ay<br> 
Destek Kapsamı<br>

Bu Program kapsamında destek üst limiti 150.000 (yüz elli bin) TL geri ödemesiz destek sağlanır.<br>

  Yurt dışındaki tanıtım ve pazarlama faaliyetleri için 100.000 (yüz bin) TL<br>
  Yurt içindeki tanıtım ve pazarlama faaliyetleri için ise 50.000 (elli bin) TL <br>

Program kapsamında uygulanacak desteklerin oranı tüm bölgelerde %100 (yüz) olarak uygulanır.
</p>
<strong>
	Tematik Proje Destek Programı
</strong>
<p>
	KOBİ`lere ilişkin ulusal politikalarda ve KOBİ`lerin ihtiyaçlarındaki değişim göz önünde bulundurularak KOBİGEL-KOBİ Gelişim Destek Programı yürürlüğe alınmıştır. Bu program kapsamında KOBİ'ler, KOSGEB tarafından belirlenen önceliklere göre hazırladıkları projeleri Proje Teklif Çağrısı dönemlerinde sunabilmektedir. KOBİGEL-KOBİ Gelişim Destek Programı Proje Teklif Çağrılarına, “Destekler / KOBİGEL Programı” menüsünden erişilebilirsiniz.<br> 

KOBİGEL-KOBİ Gelişim Destek Programının yürürlüğe girmesi nedeniyle Tematik Proje Destek Programı kapsamında yeni başvuru alınmayacaktır. 

</p>
</p>
    </p>
    <br>
     </font> </p>

                </div>

 <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Magic Stores s.r.o.">

</head>
       
        
<div class="col-md-4 col-lg-4" >
   <div class="list-group">
    <a class="list-group-item" href="/posts/girisimcilik" style="background-color: #56c8c5">Girişimcilik Destekleri</a>
    <a class="list-group-item" href="/posts/arge">AR-GE, Teknolojik Üretim ve Yerlileştirme Destekleri</a>
    <a class="list-group-item"href="/posts/isletme" style="background-color: #56c8c5">İşletme Geliştirme, Büyüme ve Uluslararasılaşma Destekleri</a>
    <a class="list-group-item" href="/posts/kobi">KOBİ Finansman Destekleri</a>
        <a class="list-group-item" href="/posts/laboratuvar" style="background-color: #56c8c5">Laboratuvar Hizmetleri</a>
    <a class="list-group-item" href="/posts/kosgeb">KOSGEB DESTEKLERİ</a>
  </div>
</div>          
    </div> 

  </div>
</div>
</div>

        </div>
    </div>
</div>













<footer class="footer-section bg-with-black">
    <head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
</head>
  <style >
    footer.footer-section {
    background: rgba(0, 0, 0, 0) url("https://cdn.pixabay.com/photo/2012/02/22/19/28/africa-15428_960_720.jpg") no-repeat scroll left top / cover;
    padding: 60px 0 50px;
    background-size: cover;
}
.bg-with-black {
    position: relative;
}
.footer-top-section {
    margin: 0 0 47px;
}
.single-fta > img {
    margin: 0 0 7px;
    width: 170px;
    height: 170px;
}
.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}
.single-fta ul.fta-list li, .single-fta ul.fta-list li a {
    color: #e5e5e5;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 36px;
}
.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}
.fta-title {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0 0 20px;
}

.fba-links {
    text-align: right;
}

.fba-links ul li a {
    color: #e5e5e5;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
}
.fba-links ul {
    list-style: outside none none;
    padding: 0;
}
.fba-links ul li {
    display: inline-block;
    margin-left: 28px;
}
.fba-copyright p {
    color: #aaaaaa;
    line-height: 30px;
}
  </style>
        <div class="footer-top-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <img src="../assets/logo.jpg" alt="">
                            <ul class="fta-list">
                                <li><a href="/posts/index"><span class="glyphicon glyphicon-chevron-right"></span> Dijital Girişimcilik</a></li>
                                <li><a href="/posts/danismanlikhizmet"><span class="glyphicon glyphicon-chevron-right"></span> Danışmanlık Hizmetleri</a></li>

                                <li><a href="/posts/markapatent"><span class="glyphicon glyphicon-chevron-right"></span>Marka Patent</a></li>
                                  <li><a href="/posts/digitalpara"><span class="glyphicon glyphicon-chevron-right"></span>Dijital Para</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <h3 class="fta-title">Danışmanlık Hizmetleri</h3>
                            <ul class="fta-list">
                                <li><a href="/posts/kosgeb">Kosgeb</a></li>

                                <li><a href="/posts/tkdkdestek">TKDK DESTEKLERİ</a></li>

                                <li><a href="/posts/kkydpdestek">KKYDP DESTEKLERİ</a></li>

                                <li><a href="/posts/kalkinmaajansdestek">KALKINMA AJANSI DESTEKLERİ</a></li>
                                <li><a href="/posts/tubitakdestek">TÜBİTAK DESTEKLERİ</a></li>
                                <li><a href="/posts/avrupabirlikdestek">AVRUPA BİRLİĞİ DESTEKLERİ</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <h3 class="fta-title">Dijital Para</h3>
                            <ul class="fta-list">
                                <li><a href="/posts/gramaltin">Gram Altın</a></li>
                                  <li><a href="/posts/dolar">Dolar</a></li>

                                    <li><a href="/posts/euro">Euro</a></li>

                                <li><a href="/posts/bist">Bist-100</a></li>
                                 <li><a href="/posts/bitcoin">Bitcoin</a></li>


                              
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-fta">
                            <h3 class="fta-title">İletişim</h3>
                            <ul class="fta-list">
                                <li>Address: Cumhuriyet Mah. Kadınana Cad. No:118/2/ AFYONKARAHİSAR</li>
                                <li>Phone: (0272) 214 53 18 GSM:0545 230 15 34</li>
                                <li>Email: turhan@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="footer-bottom">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="fba-copyright">
                                        <p>AYŞEGÜL SELEK /YAZILIM MÜHENDİSİ tarafından design edildi.</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="fba-links">
                                        <ul>
                                            <li><a  href="/posts/index">Dijital Girişimcilik</a></li>

                                            <li><a href="/posts/danismanlikhizmet">Danışmanlık Hizmetleri</a></li>

                                            <li><a href="/posts/markapatent">Marka Patent</a></li>

                                            <li><a href="/posts/digitalpara">Dijital Para</a></li>

                                            <li><a href="/posts/iletisim">İletişim</a></li>
                                        </ul>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>